.modal-scroll {
  width: 100%;
  height: 100%;

  overflow-y: auto;
  overscroll-behavior: contain;

  // iOS native scroll
  -webkit-overflow-scrolling: touch;
}

.modal-scroll-content {
  min-height: 100%;
}
