@use '@/styles/functions' as *;

.sns-modal {
  align-items: flex-start;

  .modal-panel {
    max-width: 460px;
    min-height: auto;

    border-top: 0;
    border-radius: 0 0 fluid(16px, 20px) fluid(16px, 20px);

    animation: sns-modal-panel-show 0.5s var(--liquid-ease) 0.25s backwards;
    @keyframes sns-modal-panel-show {
      from {
        transform: translateY(-50%);
        opacity: 0;
      }
      to {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }

  .modal-body {
    padding: 40px;
  }
}

.sns-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  line-height: 1;

  a {
    display: inline-flex;
    align-items: center;

    font-size: 1.3em;
    line-height: 1;
    color: var(--font-color);
    white-space: nowrap;

    &:hover {
      opacity: 0.7;
    }

    .icon {
      width: 40px;
      font-size: 1.35em;
      color: var(--primary-color);
    }

    .outlink {
      font-size: 1em;
      color: var(--primary-color);
      margin-left: 5px;
    }
  }

  p {
    font-size: 1em;
    padding-left: 40px;
    margin-top: 8px;
    color: var(--font-sec-color);
  }
}

@media screen and (max-width: 768px) {
  .sns-modal {
    .modal-body {
      padding: 40px 28px;
    }
  }

  .sns-list {
    a {
      .icon {
        width: 32px;
      }
    }
    p {
      margin-top: 4px;
      padding-left: 32px;
    }
  }
}
