/* --------------------------------
   CATEGORY NAV
-------------------------------- */

.category_search_nav {
  position: sticky;
  top: 0;
  z-index: 90;

  margin-top: 40px;
  backdrop-filter: var(--backdrop-filter);

  transition: top 0.25s ease;

  &:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background-color: var(--background-color);
    opacity: 0.8;
    
  }

  &__inner {
    position: relative;
    z-index: 1;

    display: flex;
    align-items: center;
    gap: 16px;

    width: var(--inner-width);
    max-width: var(--inner-max-width);
    height: 60px;
    margin: 0 auto;
    overflow: hidden;
  }

  &.active {
    .search-nav {
      .input {
        opacity: 1;
        pointer-events: auto;
      }

      button {
        opacity: 0;
      }
    }
  }
}

/*.category-nav {
  position: sticky;
  top: 0;
  z-index: 90;

  margin-top: 40px;

  //border-top: 1px solid var(--border-color);
  //border-bottom: 1px solid var(--border-color);

  transition: top 0.25s ease;

  &:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(241, 237, 228, .8);
    backdrop-filter: blur(5px);
  }
}*/

.search-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 6px;
  flex: none;

  .input {
    opacity: 0;
    pointer-events: none;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);

    width: 100%;
    max-width: 400px;

    transition: opacity 0.25s ease;

    .icon {
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 20px;
      color: var(--font-sec-color);
    }

    input {
      min-width: 300px;
      width: 100%;
      height: 40px;
      border-radius: 10em;
      padding-left: 40px;
      padding-right: 20px;
      border: 1px solid var(--primary-color);
      background-color: #fff;

      font-size: 16px;
      color: var(--font-color);

      -webkit-appearance: none;
      appearance: none;

      &:focus,
      &:focus-visible {
        outline: 2px solid var(--primary-color);
      }

      &::placeholder {
        color: var(--font-sec-color);
        opacity: 0.5;
      }
    }
  }

  button{
    width: 40px;
    height: 40px;
    flex: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: 10em;
    background-color: var(--primary-color);
    color: #fff;

    span {
      font-size: 20px;
    }
  }

}


.category-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;

  width: 100%;
  height: 100%;

  overflow-x: auto;

  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  button {
    position: relative;

    flex-shrink: 0;

    min-width: 60px;
    height: 40px;

    padding: 0 16px;

    border: 0;
    border-radius: 10em;

    background-color: var(--border-color);
    color: var(--font-sec-color);

    font-family: inherit;
    font-size: 13px;
    line-height: 1;

    letter-spacing: 0.12em;

    cursor: pointer;

    transition:
      all 0.3s ease;

    &:hover {
      color: var(--primary-color);
    }

    &:active {
      transform: scale(1.15);
    }

    &.active {
      background-color: var(--primary-color);
      color: #fff;
    }

    &.active::after {
      width: 100%;
    }
  }
}

html.scrollUp .category_search_nav {
  top: var(--header-height);
}

[data-theme="dark"] {
  .category_search_nav {
    &:after {
      background-color: rgba(17, 16, 15, .75);
    }
  }

  .search-nav {
    input {
      background-color: var(--background-sec-color);
    }
  }
}

@media screen and (max-width: 1023px){
  .category_search_nav {
    &__inner {
      width: 100%;
      gap: 12px;

      > *:first-child {
        padding-left: 5%;
      }

      > *:last-child {
        padding-right: 5%;
      }
    }

    &.active {
      .category-nav {
        opacity: 0;
      }
    }
  }

  .search-nav {
    .input {
      width: auto;
      max-width: 100%;
      left: 5%;
      right: 5%;
    }
  }
}


@media screen and (max-width: 768px){
  .category_search_nav {
    margin-top: 20px;
    margin-bottom: 0;

    &__inner {
      height: 60px;
    }
  }
}